ruff
black
detect-secrets
boto3
botocore
fastembed
opencv-python
pdfplumber
python-dotenv
PyMuPDF
pytesseract
torch
transformers
qdrant_client
llama-index
llama-index-embeddings-huggingface
llama-index-llms-openai
llama-index-llms-ollama
llama-index-vector-stores-qdrant